.App {
  font-family: Helvetica, sans-serif;
  padding: 40px;
  color: #4c4c4c;
}

h1 {
  font-size: 2rem;
  font-weight: 100;
}

.header {
  margin-top: 50px;
  margin-bottom: 300px;
}

.content {
  min-height: 100vh;
}

.sub-section {
  margin-top: 50px;
  font-size: 1.2rem;
  opacity: 0;
}